<div class="container text-center">
  <table
    data-aos="fade-right"
    class="table table-bordered table-dark my-5"
    data-aos="fade-up"
    data-aos-delay="500"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-anchor-placement="top-center"
  >
    <thead class="my-5">
      <tr>
        <th scope="col" class="text-info">{{ "name" | titlecase }}</th>
        <th scope="col" class="text-info">{{ "price" | titlecase }}</th>
        <th scope="col" class="text-info">{{ "amount(kg)" | titlecase }}</th>
        <!-- <th scope="col" class='text-info'>{{"new amount(kg)" | titlecase}}</th> -->
        <th scope="col" class="text-info">{{ "options" | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart; let i = index">
        <th class="name text-warning" scope="row">{{ item.name }}</th>
        <td>{{ item.price | currency }}</td>
        <!-- <td>
          <input type="number" placeholder="Amount (kg)" [(ngModel)]="item.amount">
        </td> -->
        <td>{{ item.amount }}</td>
        <td>
          <button class="btn btn-info mx-2" (click)="save(i)">
            {{ "save" | titlecase }}
          </button>
          <button class="btn btn-danger" (click)="delete(i)">
            {{ "delete" | titlecase }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
