.body {
  .container {
    margin-top: 9rem !important;
    h2 {
      font-weight: bolder;
      color: #199393;
      font-style: italic;
    }
    form {
      input {
        &::placeholder {
          color: #1d9db3;
        }
      }
      .btn-add {
        display: flex;
        justify-content: center;
        input {
          width: 50%;
          font-size: 20px;
          text-transform: capitalize;
        }
      }
    }
  }
}
